
bubblingLosses-eps-converted-to.pdf
bubblingReactorPressure-eps-converted-to.pdf
cellCultureInjection-eps-converted-to.pdf
chapters/0_0-titlepage_en.aux
chapters/0_1-declaration.aux
chapters/0_2-abstract.aux
chapters/1-introduction.aux
chapters/2-theory.aux
chapters/3-materialsAndMethods.aux
chapters/4-simulations.aux
chapters/5-experiments.aux
chapters/5-results.aux
chapters/6-conclusions.aux
chapters/7-acknowledgments.aux
chapters/thesis_main.aux
chapters/thesis_main.log
compensationWinds-eps-converted-to.pdf
displacement200-eps-converted-to.pdf
exponentialFit-eps-converted-to.pdf
fieldSpread-eps-converted-to.pdf
helmholtzNarrowLine-eps-converted-to.pdf
highFieldProbe-eps-converted-to.pdf
lowFieldReactor-eps-converted-to.pdf
out/
overlayAll1to6-eps-converted-to.pdf
overlayAll8to30-eps-converted-to.pdf
shimXY-eps-converted-to.pdf
signalVariation-eps-converted-to.pdf
spatial2dProjection-eps-converted-to.pdf
spatial3d-eps-converted-to.pdf
spectraComparisonShuttle-eps-converted-to.pdf
thesis_main.aux
thesis_main.bbl
thesis_main.blg
thesis_main.dvi
thesis_main.fdb_latexmk
thesis_main.fls
thesis_main.loa
thesis_main.lof
thesis_main.log
thesis_main.lot
thesis_main.out
thesis_main.pdf
thesis_main.run.xml
thesis_main.synctex.gz
thesis_main.toc
xDisplacement200-eps-converted-to.pdf
xField-eps-converted-to.pdf
yDisplacement200-eps-converted-to.pdf
yField-eps-converted-to.pdf
zDisplacement200-eps-converted-to.pdf
zField-eps-converted-to.pdf
